In [1]:
# convert from ticker_20240906 ticker data to OHLCV data 1 minute interval

import utils.db_utils as dbu
import utils.stockeod_utils as stockeod
import utils.ticker_table_manager as ttm
import utils.pip_utils as pipu
from dto.OrderDTO import OrderDTO

# from stockeod table, get the stock list in date_text
date_text = '2024-09-06'
symbols = stockeod.get_stock_list_in_date_text(date_text)

print(f"symbols len {len(symbols)}")

symbols len 889

In [2]:
dbu.get_pool()

# for symbol in symbols:
symbol = 'EA'
df1m = ttm.get_df1m_from_ticker_table_of_date_text(symbol, date_text)
# list of df1m columns name
df1m_columns = df1m.columns.tolist()
df1m_columns

['open',
 'high',
 'low',
 'close',
 'buyVolume',
 'sellVolume',
 'qty',
 'pip_open',
 'pip_high',
 'pip_low',
 'pip_close',
 'buyTickQty',
 'sellTickQty',
 'buyId',
 'sellId',
 'totalId']

In [3]:
df1m

,open,high,low,close,buyVolume,sellVolume,qty,pip_open,pip_high,pip_low,pip_close,buyTickQty,sellTickQty,buyId,sellId,totalId
sniffTime,,,,,,,,,,,,,,,,
2024-09-06 09:59:00,6.35,6.40,6.35,6.35,500,2879800,24,377.0,378.0,377.0,377.0,1,23,1,11,12
2024-09-06 10:00:00,6.35,6.40,6.35,6.35,221100,229000,62,377.0,378.0,377.0,377.0,39,23,25,23,48
2024-09-06 10:01:00,6.40,6.40,6.35,6.35,1826600,3261300,231,378.0,378.0,377.0,377.0,29,202,16,92,108
2024-09-06 10:02:00,6.35,6.40,6.35,6.35,253100,48100,53,377.0,378.0,377.0,377.0,26,27,26,20,46
2024-09-06 10:03:00,6.40,6.50,6.35,6.45,1746600,535900,178,378.0,380.0,377.0,379.0,130,48,36,41,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-06 15:30:00,6.75,6.75,6.70,6.75,44100,1500,7,385.0,385.0,384.0,385.0,5,2,4,2,6
2024-09-06 15:31:00,6.75,6.75,6.70,6.70,7300,7000,10,385.0,385.0,384.0,384.0,4,6,4,6,10
2024-09-06 15:32:00,6.75,6.75,6.75,6.75,16300,0,8,385.0,385.0,385.0,385.0,8,0,8,0,8
2024-09-06 15:33:00,6.70,6.75,6.70,6.75,2300,6600,6,384.0,385.0,384.0,385.0,4,2,4,2,6
2024-09-06 15:34:00,6.75,6.75,6.75,6.75,100000,0,7,385.0,385.0,385.0,385.0,7,0,1,0,1

In [5]:
# NaN checking , if open is NaN, then copy value from previous row'
# FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
df1m['open'] = df1m['open'].fillna(method='bfill')
# where df1m['qty']=0, then set high, low, close to open
df1m['high'] = df1m['high'].mask(df1m['qty']==0, df1m['open'])
df1m['low'] = df1m['low'].mask(df1m['qty']==0, df1m['open'])
df1m['close'] = df1m['close'].mask(df1m['qty']==0, df1m['open'])
# for pip_open, pip_high, pip_low, pip_close, convert to pip
df1m['pip_open'] = df1m['pip_open'].fillna(method='bfill')
df1m['pip_high'] = df1m['pip_high'].mask(df1m['qty']==0, df1m['pip_open'])
df1m['pip_low'] = df1m['pip_low'].mask(df1m['qty']==0, df1m['pip_open'])
df1m['pip_close'] = df1m['pip_close'].mask(df1m['qty']==0, df1m['pip_open'])



df1m

C:\Users\supar\AppData\Local\Temp\ipykernel_15836\1193369149.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1m['open'] = df1m['open'].fillna(method='bfill')
C:\Users\supar\AppData\Local\Temp\ipykernel_15836\1193369149.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1m['pip_open'] = df1m['pip_open'].fillna(method='bfill')

,open,high,low,close,buyVolume,sellVolume,qty,pip_open,pip_high,pip_low,pip_close,buyTickQty,sellTickQty,buyId,sellId,totalId
sniffTime,,,,,,,,,,,,,,,,
2024-09-06 09:59:00,6.35,6.40,6.35,6.35,500,2879800,24,377.0,378.0,377.0,377.0,1,23,1,11,12
2024-09-06 10:00:00,6.35,6.40,6.35,6.35,221100,229000,62,377.0,378.0,377.0,377.0,39,23,25,23,48
2024-09-06 10:01:00,6.40,6.40,6.35,6.35,1826600,3261300,231,378.0,378.0,377.0,377.0,29,202,16,92,108
2024-09-06 10:02:00,6.35,6.40,6.35,6.35,253100,48100,53,377.0,378.0,377.0,377.0,26,27,26,20,46
2024-09-06 10:03:00,6.40,6.50,6.35,6.45,1746600,535900,178,378.0,380.0,377.0,379.0,130,48,36,41,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-06 15:30:00,6.75,6.75,6.70,6.75,44100,1500,7,385.0,385.0,384.0,385.0,5,2,4,2,6
2024-09-06 15:31:00,6.75,6.75,6.70,6.70,7300,7000,10,385.0,385.0,384.0,384.0,4,6,4,6,10
2024-09-06 15:32:00,6.75,6.75,6.75,6.75,16300,0,8,385.0,385.0,385.0,385.0,8,0,8,0,8
2024-09-06 15:33:00,6.70,6.75,6.70,6.75,2300,6600,6,384.0,385.0,384.0,385.0,4,2,4,2,6
2024-09-06 15:34:00,6.75,6.75,6.75,6.75,100000,0,7,385.0,385.0,385.0,385.0,7,0,1,0,1

In [5]:
df1m

,open,high,low,close,buyVolume,sellVolume,qty,pip_open,pip_high,pip_low,pip_close,buyTickQty,sellTickQty,buyId,sellId,totalId
sniffTime,,,,,,,,,,,,,,,,
2024-09-06 09:59:00,6.35,6.40,6.35,6.35,500,2879800,24,377.0,378.0,377.0,377.0,1,23,1,11,12
2024-09-06 10:00:00,6.35,6.40,6.35,6.35,221100,229000,62,377.0,378.0,377.0,377.0,39,23,25,23,48
2024-09-06 10:01:00,6.40,6.40,6.35,6.35,1826600,3261300,231,378.0,378.0,377.0,377.0,29,202,16,92,108
2024-09-06 10:02:00,6.35,6.40,6.35,6.35,253100,48100,53,377.0,378.0,377.0,377.0,26,27,26,20,46
2024-09-06 10:03:00,6.40,6.50,6.35,6.45,1746600,535900,178,378.0,380.0,377.0,379.0,130,48,36,41,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-06 15:30:00,6.75,6.75,6.70,6.75,44100,1500,7,385.0,385.0,384.0,385.0,5,2,4,2,6
2024-09-06 15:31:00,6.75,6.75,6.70,6.70,7300,7000,10,385.0,385.0,384.0,384.0,4,6,4,6,10
2024-09-06 15:32:00,6.75,6.75,6.75,6.75,16300,0,8,385.0,385.0,385.0,385.0,8,0,8,0,8
2024-09-06 15:33:00,6.70,6.75,6.70,6.75,2300,6600,6,384.0,385.0,384.0,385.0,4,2,4,2,6
2024-09-06 15:34:00,6.75,6.75,6.75,6.75,100000,0,7,385.0,385.0,385.0,385.0,7,0,1,0,1

In [13]:
# insert to table symbol_1m

with dbu.get_pool().get_connection() as con:
    for index, row in df1m.iterrows():
        symbol = symbol
        date = date_text
        time = index.time()
        # open, in case of NaN convert to null
        open = row['open']
        # insert_sql = f"""insert into symbol_1m (symbol, date, time, open) values ('{symbol}', '{date}', '{time}', {open});"""
        insert_sql = f""" INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('{symbol}', '{date}', '{time}', {open}, {row['high']}, {row['low']}, {row['close']}, {row['buyVolume']}, {row['sellVolume']}, {row['qty']}, {row['pip_open']}, {row['pip_high']}, {row['pip_low']}, {row['pip_close']}, {row['buyTickQty']}, {row['sellTickQty']}, {row['buyId']}, {row['sellId']}, {row['totalId']});"""
        print(insert_sql)
        cursor = con.cursor()
        cursor.execute(insert_sql)
    con.commit()
print("finish")

 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '09:59:00', 6.35, 6.4, 6.35, 6.35, 500.0, 2879800.0, 24.0, 377.0, 378.0, 377.0, 377.0, 1.0, 23.0, 1.0, 11.0, 12.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:00:00', 6.35, 6.4, 6.35, 6.35, 221100.0, 229000.0, 62.0, 377.0, 378.0, 377.0, 377.0, 39.0, 23.0, 25.0, 23.0, 48.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:01:00', 6.4, 6.4, 6.35, 6.35, 1826600.0, 3261300.0, 231.0, 378.0, 378.0, 377.0, 377.0, 29.0, 202.0, 16.0, 92.0, 108.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:02:00', 6.35, 6.4, 6.35, 6.35, 253100.0, 48100.0, 53.0, 377.0, 378.0, 377.0, 377.0, 26.0, 27.0, 26.0, 20.0, 46.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:03:00', 6.4, 6.5, 6.35, 6.45, 1746600.0, 535900.0, 178.0, 378.0, 380.0, 377.0, 379.0, 130.0, 48.0, 36.0, 41.0, 77.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:04:00', 6.5, 6.5, 6.45, 6.45, 2848800.0, 1314800.0, 395.0, 380.0, 380.0, 379.0, 379.0, 241.0, 154.0, 126.0, 21.0, 147.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:05:00', 6.45, 6.45, 6.4, 6.45, 1761400.0, 266000.0, 232.0, 379.0, 379.0, 378.0, 379.0, 222.0, 10.0, 136.0, 7.0, 143.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:06:00', 6.45, 6.5, 6.45, 6.45, 849100.0, 224300.0, 132.0, 379.0, 380.0, 379.0, 379.0, 98.0, 34.0, 31.0, 30.0, 61.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:07:00', 6.5, 6.55, 6.45, 6.5, 1574500.0, 741400.0, 137.0, 380.0, 381.0, 379.0, 380.0, 109.0, 28.0, 29.0, 20.0, 49.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:08:00', 6.5, 6.6, 6.5, 6.6, 4502000.0, 418900.0, 598.0, 380.0, 382.0, 380.0, 382.0, 535.0, 63.0, 101.0, 40.0, 141.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:09:00', 6.6, 6.65, 6.6, 6.65, 3641700.0, 625500.0, 418.0, 382.0, 383.0, 382.0, 383.0, 351.0, 67.0, 172.0, 34.0, 206.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:10:00', 6.65, 6.65, 6.6, 6.65, 1092400.0, 76100.0, 242.0, 383.0, 383.0, 382.0, 383.0, 209.0, 33.0, 86.0, 30.0, 116.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:11:00', 6.6, 6.7, 6.6, 6.7, 704300.0, 2531300.0, 367.0, 382.0, 384.0, 382.0, 384.0, 77.0, 290.0, 33.0, 134.0, 167.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:12:00', 6.65, 6.7, 6.6, 6.65, 1158900.0, 2921500.0, 352.0, 383.0, 384.0, 382.0, 383.0, 67.0, 285.0, 37.0, 125.0, 162.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:13:00', 6.7, 6.7, 6.65, 6.65, 134900.0, 541500.0, 155.0, 384.0, 384.0, 383.0, 383.0, 17.0, 138.0, 16.0, 90.0, 106.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:14:00', 6.65, 6.8, 6.65, 6.8, 1770200.0, 3338200.0, 324.0, 383.0, 386.0, 383.0, 386.0, 177.0, 147.0, 96.0, 111.0, 207.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:15:00', 6.8, 6.85, 6.75, 6.8, 5863500.0, 424900.0, 469.0, 386.0, 387.0, 385.0, 386.0, 437.0, 32.0, 214.0, 25.0, 239.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:16:00', 6.8, 6.9, 6.75, 6.85, 3464300.0, 2267800.0, 394.0, 386.0, 388.0, 385.0, 387.0, 267.0, 127.0, 92.0, 58.0, 150.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:17:00', 6.85, 7.0, 6.85, 6.9, 2348800.0, 2896700.0, 353.0, 387.0, 390.0, 387.0, 388.0, 214.0, 139.0, 154.0, 68.0, 222.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:18:00', 6.95, 7.0, 6.85, 7.0, 1192500.0, 1021500.0, 273.0, 389.0, 390.0, 387.0, 390.0, 129.0, 144.0, 59.0, 115.0, 174.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:19:00', 7.0, 7.15, 7.0, 7.05, 5428300.0, 4256400.0, 816.0, 390.0, 393.0, 390.0, 391.0, 532.0, 284.0, 203.0, 82.0, 285.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:20:00', 7.05, 7.05, 6.95, 7.0, 934900.0, 2663700.0, 490.0, 391.0, 391.0, 389.0, 390.0, 144.0, 346.0, 126.0, 102.0, 228.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:21:00', 6.95, 7.0, 6.95, 7.0, 2770200.0, 404500.0, 349.0, 389.0, 390.0, 389.0, 390.0, 279.0, 70.0, 98.0, 50.0, 148.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:22:00', 7.0, 7.0, 6.95, 6.95, 232400.0, 1934700.0, 362.0, 390.0, 390.0, 389.0, 389.0, 64.0, 298.0, 50.0, 74.0, 124.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:23:00', 6.95, 7.0, 6.95, 6.95, 127900.0, 934400.0, 179.0, 389.0, 390.0, 389.0, 389.0, 29.0, 150.0, 22.0, 94.0, 116.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:24:00', 6.95, 7.0, 6.95, 6.95, 30000.0, 629900.0, 122.0, 389.0, 390.0, 389.0, 389.0, 14.0, 108.0, 14.0, 82.0, 96.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:25:00', 6.95, 7.0, 6.9, 6.9, 517200.0, 3451300.0, 478.0, 389.0, 390.0, 388.0, 388.0, 51.0, 427.0, 39.0, 119.0, 158.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:26:00', 6.9, 6.95, 6.8, 6.85, 1271100.0, 5274500.0, 504.0, 388.0, 389.0, 386.0, 387.0, 54.0, 450.0, 27.0, 159.0, 186.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:27:00', 6.8, 6.9, 6.8, 6.9, 2730600.0, 1408100.0, 386.0, 386.0, 388.0, 386.0, 388.0, 144.0, 242.0, 50.0, 100.0, 150.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:28:00', 6.9, 6.9, 6.85, 6.9, 568600.0, 548100.0, 101.0, 388.0, 388.0, 387.0, 388.0, 80.0, 21.0, 56.0, 21.0, 77.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:29:00', 6.9, 6.9, 6.85, 6.9, 452000.0, 17800.0, 93.0, 388.0, 388.0, 387.0, 388.0, 80.0, 13.0, 58.0, 12.0, 70.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:30:00', 6.9, 6.9, 6.85, 6.9, 4054600.0, 14800.0, 310.0, 388.0, 388.0, 387.0, 388.0, 303.0, 7.0, 179.0, 7.0, 186.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:31:00', 6.9, 6.9, 6.85, 6.85, 117200.0, 13400.0, 41.0, 388.0, 388.0, 387.0, 387.0, 33.0, 8.0, 33.0, 8.0, 41.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:32:00', 6.85, 6.9, 6.85, 6.85, 179300.0, 110900.0, 35.0, 387.0, 388.0, 387.0, 387.0, 23.0, 12.0, 19.0, 10.0, 29.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:33:00', 6.85, 6.9, 6.85, 6.85, 27300.0, 48100.0, 29.0, 387.0, 388.0, 387.0, 387.0, 12.0, 17.0, 12.0, 16.0, 28.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:34:00', 6.85, 6.9, 6.85, 6.85, 48000.0, 67000.0, 46.0, 387.0, 388.0, 387.0, 387.0, 24.0, 22.0, 22.0, 17.0, 39.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:35:00', 6.9, 6.9, 6.85, 6.9, 51800.0, 227200.0, 37.0, 388.0, 388.0, 387.0, 388.0, 21.0, 16.0, 19.0, 7.0, 26.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:36:00', 6.9, 6.9, 6.8, 6.8, 582500.0, 2197000.0, 300.0, 388.0, 388.0, 386.0, 386.0, 74.0, 226.0, 56.0, 19.0, 75.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:37:00', 6.8, 6.85, 6.8, 6.8, 46000.0, 259800.0, 64.0, 386.0, 387.0, 386.0, 386.0, 38.0, 26.0, 35.0, 12.0, 47.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:38:00', 6.8, 6.85, 6.8, 6.85, 530900.0, 758000.0, 125.0, 386.0, 387.0, 386.0, 387.0, 59.0, 66.0, 21.0, 33.0, 54.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:39:00', 6.8, 6.85, 6.8, 6.85, 82900.0, 271300.0, 53.0, 386.0, 387.0, 386.0, 387.0, 15.0, 38.0, 15.0, 27.0, 42.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:40:00', 6.85, 6.85, 6.8, 6.8, 25900.0, 887200.0, 117.0, 387.0, 387.0, 386.0, 386.0, 6.0, 111.0, 6.0, 61.0, 67.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:41:00', 6.8, 6.85, 6.8, 6.8, 389200.0, 4605300.0, 466.0, 386.0, 387.0, 386.0, 386.0, 15.0, 451.0, 9.0, 128.0, 137.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:42:00', 6.8, 6.8, 6.75, 6.75, 166800.0, 2938600.0, 343.0, 386.0, 386.0, 385.0, 385.0, 32.0, 311.0, 30.0, 66.0, 96.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:43:00', 6.75, 6.85, 6.75, 6.85, 3869600.0, 1719100.0, 273.0, 385.0, 387.0, 385.0, 387.0, 159.0, 114.0, 16.0, 67.0, 83.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:44:00', 6.8, 6.85, 6.8, 6.85, 850800.0, 589800.0, 105.0, 386.0, 387.0, 386.0, 387.0, 67.0, 38.0, 34.0, 11.0, 45.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:45:00', 6.85, 6.85, 6.8, 6.85, 46900.0, 183900.0, 30.0, 387.0, 387.0, 386.0, 387.0, 17.0, 13.0, 16.0, 13.0, 29.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:46:00', 6.85, 6.85, 6.8, 6.85, 43900.0, 11300.0, 24.0, 387.0, 387.0, 386.0, 387.0, 15.0, 9.0, 15.0, 9.0, 24.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:47:00', 6.85, 6.85, 6.8, 6.85, 332800.0, 22000.0, 38.0, 387.0, 387.0, 386.0, 387.0, 33.0, 5.0, 28.0, 5.0, 33.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:48:00', 6.8, 6.9, 6.8, 6.85, 2373900.0, 17500.0, 153.0, 386.0, 388.0, 386.0, 387.0, 145.0, 8.0, 26.0, 8.0, 34.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:49:00', 6.9, 6.9, 6.85, 6.9, 35800.0, 76100.0, 34.0, 388.0, 388.0, 387.0, 388.0, 21.0, 13.0, 17.0, 9.0, 26.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:50:00', 6.85, 6.9, 6.85, 6.85, 37500.0, 29400.0, 20.0, 387.0, 388.0, 387.0, 387.0, 11.0, 9.0, 11.0, 9.0, 20.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:51:00', 6.9, 6.9, 6.85, 6.9, 7300.0, 106500.0, 13.0, 388.0, 388.0, 387.0, 388.0, 8.0, 5.0, 8.0, 5.0, 13.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:52:00', 6.85, 6.9, 6.85, 6.85, 11900.0, 21800.0, 18.0, 387.0, 388.0, 387.0, 387.0, 4.0, 14.0, 4.0, 14.0, 18.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:53:00', 6.85, 6.9, 6.85, 6.85, 297900.0, 3051300.0, 228.0, 387.0, 388.0, 387.0, 387.0, 16.0, 212.0, 12.0, 15.0, 27.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:54:00', 6.85, 6.9, 6.8, 6.9, 867000.0, 18300.0, 79.0, 387.0, 388.0, 386.0, 388.0, 69.0, 10.0, 26.0, 10.0, 36.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:55:00', 6.9, 6.9, 6.85, 6.9, 30200.0, 36700.0, 23.0, 388.0, 388.0, 387.0, 388.0, 16.0, 7.0, 16.0, 7.0, 23.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:56:00', 6.9, 6.9, 6.85, 6.9, 14200.0, 2000.0, 9.0, 388.0, 388.0, 387.0, 388.0, 5.0, 4.0, 5.0, 4.0, 9.0);
 INSERT INTO symbol_1m (symbol, date, time, open, high, low, close, buyVolume, sellVolume, qty, pip_open, pip_high, pip_low, pip_close, buyTickQty, sellTickQty, buyId, sellId, totalId) values ('EA', '2024-09-06', '10:57:00', 6.85, 6.9, 6.85, 6.85, 156100.0, 2128900.0, 110.0, 387.0, 388.0, 387.0, 387.0, 31.0, 79.0, 9.0, 5.0, 14.0);